.container{
    
    border-color: solid black;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.me{
    border: solid black;
}
.assignments{
    border: solid black;
    display: flex;
    flex-direction: column;
}