body {
    background: lightcyan;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: red;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    height: 60%;
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.middle-img{
    display: flex;
    height: 50%;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 20%;
    background: yellow;
}
@media only screen and (max-width: 1000px) {

    .middle {
        padding: 1em;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .middle-img{
        height: 70%;
        width: 70%;
        flex-direction: column;
        flex-wrap: wrap;
    }

  }

